<div class="section-middle">
    <a id="abrirMapa" href="javascript:void(0);">Abrir Mapa</a>
    
    <a class="ico-post-mapa" id="" href="javascript:void(0);">Post</a>
    <a class="bt-adicionar bt-filtros" id="" href="javascript:void(0);">Filtros</a>
    <div class="box-menu" id="">
        <div class="cont-menu">
            <div class="topo">
                <a  href="javascript:void(0);" class="titulo">Contatos</a>
                <a class="bt-adicionar bt-criar-contato" id="" href="javascript:void(0);">Adicionar contato</a>
            </div>
            <div class="scroll-y">
                <ul>
                    <li class="destaque">
                        <input type="checkbox" value="" name="" id="" />
                        <label for="">Contatos do projeto</label>
                    </li>
                    <li>
                        <input type="checkbox" value="" name="" id="" />
                        <label for="">Ofertante</label>
                    </li>
                    <li>
                        <input type="checkbox" value="" name="" id="" />
                        <label for="">Profissionais Liberais</label>
                    </li>
                    <li class="sub">
                        <input type="checkbox" value="" name="" id="" />
                        <label for="">Advogados</label>
                    </li>
                    <li class="sub">
                        <input type="checkbox" value="" name="" id="" />
                        <label for="">Contadores</label>
                    </li>
                    <li>
                        <input type="checkbox" value="" name="" id="" />
                        <label for="">Prefeitura</label>
                    </li>
                    <li>
                        <input type="checkbox" value="" name="" id="">
                        <label for="">Profissionais Liberais</label>
                    </li>
                    <li class="sub">
                        <input type="checkbox" value="" name="" id="" />
                        <label for="">Advogados</label>
                    </li>
                    <li class="sub">
                        <input type="checkbox" value="" name="" id="" />
                        <label for="">Contadores</label>
                    </li>
                </ul>
            </div>

            <div class="topo menu-borda-cima">
                <a  href="javascript:void(0);" class="titulo">Posts</a>
                <a class="ico-calendario" id="" href="javascript:void(0);">período</a>

                <ul>
                    <li>
                        <input type="checkbox" value="" name="" id="" />
                        <label for="">Visualizar posts</label>
                    </li>
                </ul>
            </div>

            <div class="topo menu-borda-cima">
                <a  href="javascript:void(0);" class="titulo">Projetos</a>
            </div>

            <div class="scroll-y">
                <ul>
                    <li>
                        <input type="checkbox" value="" name="" id="" />
                        <label for="">Prospecção</label>
                    </li>
                    <li class="sub">
                        <input type="checkbox" value="" name="" id="" />
                        <label for="">Oferta Recebida</label>
                    </li>
                    <li class="sub">
                        <input type="checkbox" value="" name="" id="" />
                        <label for="">Fechada</label>
                    </li>
                    <li class="sub">
                        <input type="checkbox" value="" name="" id="" />
                        <label for="">Acordo Comercial</label>
                    </li>
                    <li class="sub">
                        <input type="checkbox" value="" name="" id="" />
                        <label for="">Em avaliação</label>
                    </li>
                    <li class="sub">
                        <input type="checkbox" value="" name="" id="" />
                        <label for="">Em proposta</label>
                    </li>
                    <li class="sub">
                        <input type="checkbox" value="" name="" id="" />
                        <label for="">Em stand by</label>
                    </li>
                    <li class="sub">
                        <input type="checkbox" value="" name="" id="" />
                        <label for="">Avançar</label>
                    </li>
                </ul>
            </div>

            <div class="topo menu-borda-cima">
                <a href="javascript:void(0);" class="titulo inteligencia">INTELIGÊNCIA DE MERCADO</a>
            </div>
            <ul>
                <li>
                    <input type="checkbox" value="" name="" id="" />
                    <label for="">Indicadores</label>
                </li>
            </ul>
        </div>
    </div>

    <div class="mapGoogle">
        <div id="mapa" style="height: 500px; width: 100%;"></div>
    </div>
</div>



@*Janelas*@

<div class="tile-projeto-mapa">
    <div class="tile-topo" data-id="2" data-favorito="True" data-nome="Primeiro Projeto" data-cidade="2|Assis Brasil">
        <h2 class="">Primeiro Projeto</h2>
        <h3>Assis Brasil - Acre</h3>
    </div>
    <div class="brand">
        <span class="responsavel">PROSPECÇÃO - Vitor Pimentel</span>
        <span class="status">BP</span>
        <span class="atualizado">Atualizado em: 13/09/2013 18:06 </span>
                                        
        <div class="div-inferior">
            <span class="codigo"></span>
            <div class="icones-projeto">
                <a title="Projeto pai" class="ico-projetos-pai" href="javascript:void(0);">Projeto pai</a>
                <a title="Localização" class="ico-localizacao" href="javascript:void(0);">Localização</a>
                    <a data-favorito="True" data-id="2" title="Seguir projeto" class="ico-seguir bt-seguir" href="javascript:void(0)">Deixar de seguir projeto</a>
                <a data-id="2" class="numero-seguir bt-seguidores" href="javascript:void(0)">14</a>                     
            </div>
        </div>
    </div>
</div>


<div class="projeto-mapa">
    <div class="tile-topo" data-id="2" data-favorito="True" data-nome="Primeiro Projeto" data-cidade="2|Assis Brasil">
        <h2 class="">Primeiro Projeto</h2>
        <h3>Assis Brasil - Acre</h3>
    </div>
    <div class="brand">
        <span class="responsavel">PROSPECÇÃO - Vitor Pimentel</span>
        <span class="status">BP</span>
        <span class="atualizado">Atualizado em: 13/09/2013 18:06 </span>
                                        
        <div class="div-inferior">
            <span class="codigo"></span>
            <div class="icones-projeto">
                <a title="Projeto pai" class="ico-projetos-pai" href="#">Projeto pai</a>
                <a title="Localização" class="ico-localizacao" href="#">Localização</a>
                    <a data-favorito="True" data-id="2" title="Seguir projeto" class="ico-seguir bt-seguir" href="javascript:void(0)">Deixar de seguir projeto</a>
                <a data-id="2" class="numero-seguir bt-seguidores" href="javascript:void(0)">14</a>                     
            </div>
        </div>
    </div>
</div>


<div class="div-inteligencia-mercado">
    <a href="javascript:void(0)" class="close">x</a>
    <h3>São Paulo</h3>
    <span>Região Metropolitana: SP</span>
    <span>Cidade Alvo: Sim</span>
    <span class="mt12"><i>População:</i> 10.012.322</span>
    <span><i>Taxa Cresc. Pop.:</i> 5,00%</span>
    <h4 class="mt12">Domicílios</h4>
    <span><i>Classe A:</i> 10.482</span>
    <span><i>Classe B:</i> 10.482</span>
    <span><i>Classe C1:</i> 10.482</span>
    <span><i>Classe C2:</i> 10.482</span>
    <span><i>Classe C3:</i> 10.482</span>
    <span><i>Classe DE:</i> 10.482</span>
    <span><i>Total:</i> 5.012.201</span>
    <span class="mt12"><i>Índice de Desenv. Municipal:</i> 7</span>
    <span><i>Índice de Violência Municipal:</i> 7</span>
    <div class="seta-baixo">seta</div>
</div>


<div class="box-contato-mapa">
    <div class="scroll-y">
	    <div class="linha-contatos">
            <div class="box-nota pessimo">
		        <span class="nota">NOTA</span>
		        <span class="valor-nota">0.9</span>
	        </div>

	        <div class="box-dados-contato">
                <div class="nome-dados-contato">Humberto Ariake - PJ</div>
		        <div class="empresa-dados-contato">Advogado - Lopes Associados</div>
		        <div class="tel-dados-contato">Tel.: (11) 976352122</div>
	        </div>
        </div>

        <div class="linha-contatos">
            <div class="box-nota pessimo">
		        <span class="nota">NOTA</span>
		        <span class="valor-nota">0.9</span>
	        </div>

	        <div class="box-dados-contato">
                <div class="nome-dados-contato">Humberto Ariake - PJ</div>
		        <div class="empresa-dados-contato">Advogado - Lopes Associados</div>
		        <div class="tel-dados-contato">Tel.: (11) 976352122</div>
	        </div>
        </div>

        <div class="linha-contatos">
            <div class="box-nota pessimo">
		        <span class="nota">NOTA</span>
		        <span class="valor-nota">0.9</span>
	        </div>

	        <div class="box-dados-contato">
                <div class="nome-dados-contato">Humberto Ariake - PJ</div>
		        <div class="empresa-dados-contato">Advogado - Lopes Associados</div>
		        <div class="tel-dados-contato">Tel.: (11) 976352122</div>
	        </div>
        </div>

        <div class="linha-contatos">
            <div class="box-nota pessimo">
		        <span class="nota">NOTA</span>
		        <span class="valor-nota">0.9</span>
	        </div>

	        <div class="box-dados-contato">
                <div class="nome-dados-contato">Humberto Ariake - PJ</div>
		        <div class="empresa-dados-contato">Advogado - Lopes Associados</div>
		        <div class="tel-dados-contato">Tel.: (11) 976352122</div>
	        </div>
        </div>
    </div>
    <div class="div-bt-criar-contato">
        <a href="javascript:void(0);" id="" class="bt-adicionar bt-criar-contato">Adicionar contato</a>
    </div>
</div>



<div class="div-post-mapa" data-id="96" id="dados-post">
    <div class="box-post">
        <img src="@Url.Content("~/Content/img/usuario.jpg")" alt="usuario" />

        <div class="dados-post">
            <p class="nome-post">testando </p>
            <p class="lugar-post">Primeiro Projeto</p>
            <p class="usario-post">Alex Freitas | Prospecção</p>
            <p class="data-post">14/09/2013 10:19:51</p>
        </div>

        <div class="msg-post">
            testando!
            <a href="javascript:void(0);" data-postagemid="96" class="leiaMais">... leia mais</a>
        </div>

        <div class="icones-post">
            <a title="Anexos" class="ico-post-anexo" role="button" data-toggle="modal" href="#modalVisAnexoPost">12</a>
            <a title="Localização" class="ico-post-pin" role="button" data-toggle="modal" href="javascript:void(0);">Localização</a>
            <a title="Notificação" class="ico-post-notificacao-inativo" href="javascript:void(0);">Notificação</a>    
            <a title="Lembrete: 01/01/0001" class="ico-post-lembrete" href="javascript:void(0);">Lembrete</a>
            <a title="Linha do tempo" class="ico-post-linha-tempo-inativo" href="javascript:void(0);">Linha do tempo</a>
            <a title="Projetos associados" class="ico-post-p-associados" href="javascript:void(0);">1</a>

            <a class="ico-post-perfil-publicacao" title="" href="javascript:void(0);">Público</a>
        </div>
            
        <a title="Curtiram isso" class="ico-post-like-inativo post-like" data-postagemid="96" data-id="96" href="javascript:void(0)"></a>
        <a class="numero-seguir btn-curtidores" data-id="96" href="javascript:void(0);">1</a> 
            
    </div>
</div>