@{
    ViewBag.Title = "Alphabook - Alphaville S/A - Acesso Negado";
    Layout = "~/Views/Shared/_LayoutErro.cshtml";
}

<h2>Você não tem acesso ao sistema ou a esta página. Entre em contato com o administrador.</h2>
