<div class="modal-header">
    <a href="javascript:void(0);" class="close voltar">x</a>
    <h3 id="">
        Selecione Novo Responsável</h3>
</div>
<div class="box-busca-responsavel">
    <form class="forms">
    <fieldset>
        <div class="sep-line-form">
            <div class="form-line form-cep">
                <div class="box-input-busca">
                    <input type="text" id="campoNomeUsuario" watermark="Nome do usuário" />
                    <a id="buscarNovoResponsavel" href="javascript:void(0);">Buscar</a>
                </div>
            </div>
        </div>
    </fieldset>
    </form>
</div>
<div class="modal-body">
    <div id="carregandoUsuariosResponsaveis" class="loading-circulo"></div>
    <div class="box-scroll-resp hide">
    </div>
</div>
<div class="modal-footer">
</div>
