<!-- Modal Associar Projeto Post-->
<div id="modalAssocProjetoPost" class="modal hide fade" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="seg-modal">
        <div class="modal-header">
            <a aria-hidden="true" data-dismiss="modal" class="close" href="javascript:void(0);">
                x</a>
            <h3 id="">
                Associar/Desassociar post aos projetos</h3>
            <div style="width: 100%; float: left; margin: 0 10px 10px 0;" class="forms">
                <div class="topo">
                </div>
                <h4>
                    Selecionar Projeto:</h4>
                <div class="box-tabela">
                    <div class="wrap table1">
                        <div class="inner">
                            <table class="tabela-1">
                                <thead>
                                    <tr class="even">
                                        <th class="table-title colun-1">
                                            <input value="" type="checkbox" />
                                        </th>
                                        <th class="table-title colun-2">
                                            <a href="javascript:void(0)" class="table-title-double-ord-up">Código do Projeto</a>
                                        </th>
                                        <th class="table-title colun-3">
                                            <a href="javascript:void(0)" class="table-title-double-ord-up">Nome do Projeto</a>
                                        </th>
                                        <th class="table-title colun-4">
                                            <a href="javascript:void(0)" class="table-title-ord-up">Responsável</a>
                                        </th>
                                        <th class="table-title colun-5">
                                            <a href="javascript:void(0)" class="table-title-ord-up">UF</a>
                                        </th>
                                        <th class="table-title colun-6">
                                            <a href="javascript:void(0)" class="table-title-double-ord-up">Cidade</a>
                                        </th>
                                        <th class="table-title colun-7">
                                            <a href="javascript:void(0)" class="table-title-ord-up">Status</a>
                                        </th>
                                        <th class="table-title colun-8">
                                            Polig.
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="odd">
                                        <td class="colun-1">
                                            <input value="" type="checkbox" />
                                        </td>
                                        <td class="colun-2">
                                            2013070052
                                        </td>
                                        <td class="colun-3">
                                            Alpha II - Brasília
                                        </td>
                                        <td class="colun-4">
                                            <span class="ico-responsavel-inativo">Responsável</span><span class="nome-responsavel">Humberto
                                                Santana</span>
                                        </td>
                                        <td class="colun-5">
                                            SP
                                        </td>
                                        <td class="colun-6">
                                            São José dos Campos
                                        </td>
                                        <td class="colun-7">
                                            Em andamento
                                        </td>
                                        <td class="colun-8">
                                            <a href="javascript:void(0)" class="ico-localizacao">Localização</a>
                                        </td>
                                    </tr>
                                    <tr class="even">
                                        <td class="colun-1">
                                            <input value="" type="checkbox" />
                                        </td>
                                        <td class="colun-2">
                                            2013070052
                                        </td>
                                        <td class="colun-3">
                                            Alpha II - Brasília
                                        </td>
                                        <td class="colun-4">
                                            <span class="ico-responsavel-inativo">Responsável</span><span class="nome-responsavel">Humberto
                                                Santana</span>
                                        </td>
                                        <td class="colun-5">
                                            SP
                                        </td>
                                        <td class="colun-6">
                                            São José dos Campos
                                        </td>
                                        <td class="colun-7">
                                            Em andamento
                                        </td>
                                        <td class="colun-8">
                                            <a href="javascript:void(0)" class="ico-localizacao">Localização</a>
                                        </td>
                                    </tr>
                                    <tr class="odd">
                                        <td class="colun-1">
                                            <input value="" type="checkbox" />
                                        </td>
                                        <td class="colun-2">
                                            2013070052
                                        </td>
                                        <td class="colun-3">
                                            Alpha II - Brasília
                                        </td>
                                        <td class="colun-4">
                                            <span class="ico-responsavel-inativo">Responsável</span><span class="nome-responsavel">Humberto
                                                Santana</span>
                                        </td>
                                        <td class="colun-5">
                                            SP
                                        </td>
                                        <td class="colun-6">
                                            São José dos Campos
                                        </td>
                                        <td class="colun-7">
                                            Em andamento
                                        </td>
                                        <td class="colun-8">
                                            <a href="javascript:void(0)" class="ico-localizacao">Localização</a>
                                        </td>
                                    </tr>
                                    <tr class="even">
                                        <td class="colun-1">
                                            <input value="" type="checkbox" />
                                        </td>
                                        <td class="colun-2">
                                            2013070052
                                        </td>
                                        <td class="colun-3">
                                            Alpha II - Brasília
                                        </td>
                                        <td class="colun-4">
                                            <span class="ico-responsavel-inativo">Responsável</span><span class="nome-responsavel">Humberto
                                                Santana</span>
                                        </td>
                                        <td class="colun-5">
                                            SP
                                        </td>
                                        <td class="colun-6">
                                            São José dos Campos
                                        </td>
                                        <td class="colun-7">
                                            Em andamento
                                        </td>
                                        <td class="colun-8">
                                            <a href="javascript:void(0)" class="ico-localizacao">Localização</a>
                                        </td>
                                    </tr>
                                    <tr class="odd">
                                        <td class="colun-1">
                                            <input value="" type="checkbox" />
                                        </td>
                                        <td class="colun-2">
                                            2013070052
                                        </td>
                                        <td class="colun-3">
                                            Alpha II - Brasília
                                        </td>
                                        <td class="colun-4">
                                            <span class="ico-responsavel-inativo">Responsável</span><span class="nome-responsavel">Humberto
                                                Santana</span>
                                        </td>
                                        <td class="colun-5">
                                            SP
                                        </td>
                                        <td class="colun-6">
                                            São José dos Campos
                                        </td>
                                        <td class="colun-7">
                                            Em andamento
                                        </td>
                                        <td class="colun-8">
                                            <a href="javascript:void(0)" class="ico-localizacao">Localização</a>
                                        </td>
                                    </tr>
                                    <tr class="even">
                                        <td class="colun-1">
                                            <input value="" type="checkbox" />
                                        </td>
                                        <td class="colun-2">
                                            2013070052
                                        </td>
                                        <td class="colun-3">
                                            Alpha II - Brasília
                                        </td>
                                        <td class="colun-4">
                                            <span class="ico-responsavel-inativo">Responsável</span><span class="nome-responsavel">Humberto
                                                Santana</span>
                                        </td>
                                        <td class="colun-5">
                                            SP
                                        </td>
                                        <td class="colun-6">
                                            São José dos Campos
                                        </td>
                                        <td class="colun-7">
                                            Em andamento
                                        </td>
                                        <td class="colun-8">
                                            <a href="javascript:void(0)" class="ico-localizacao">Localização</a>
                                        </td>
                                    </tr>
                                    <tr class="odd">
                                        <td class="colun-1">
                                            <input value="" type="checkbox" />
                                        </td>
                                        <td class="colun-2">
                                            2013070052
                                        </td>
                                        <td class="colun-3">
                                            Alpha II - Brasília
                                        </td>
                                        <td class="colun-4">
                                            <span class="ico-responsavel-inativo">Responsável</span><span class="nome-responsavel">Humberto
                                                Santana</span>
                                        </td>
                                        <td class="colun-5">
                                            SP
                                        </td>
                                        <td class="colun-6">
                                            São José dos Campos
                                        </td>
                                        <td class="colun-7">
                                            Em andamento
                                        </td>
                                        <td class="colun-8">
                                            <a href="javascript:void(0)" class="ico-localizacao">Localização</a>
                                        </td>
                                    </tr>
                                    <tr class="even">
                                        <td class="colun-1">
                                            <input value="" type="checkbox" />
                                        </td>
                                        <td class="colun-2">
                                            2013070052
                                        </td>
                                        <td class="colun-3">
                                            Alpha II - Brasília
                                        </td>
                                        <td class="colun-4">
                                            <span class="ico-responsavel-inativo">Responsável</span><span class="nome-responsavel">Humberto
                                                Santana</span>
                                        </td>
                                        <td class="colun-5">
                                            SP
                                        </td>
                                        <td class="colun-6">
                                            São José dos Campos
                                        </td>
                                        <td class="colun-7">
                                            Em andamento
                                        </td>
                                        <td class="colun-8">
                                            <a href="javascript:void(0)" class="ico-localizacao">Localização</a>
                                        </td>
                                    </tr>
                                    <tr class="odd">
                                        <td class="colun-1">
                                            <input value="" type="checkbox" />
                                        </td>
                                        <td class="colun-2">
                                            2013070052
                                        </td>
                                        <td class="colun-3">
                                            Alpha II - Brasília
                                        </td>
                                        <td class="colun-4">
                                            <span class="ico-responsavel-inativo">Responsável</span><span class="nome-responsavel">Humberto
                                                Santana</span>
                                        </td>
                                        <td class="colun-5">
                                            SP
                                        </td>
                                        <td class="colun-6">
                                            São José dos Campos
                                        </td>
                                        <td class="colun-7">
                                            Em andamento
                                        </td>
                                        <td class="colun-8">
                                            <a href="javascript:void(0)" class="ico-localizacao">Localização</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <a href="javascript:void(0)" class="bt-padrao bt-associar">Associar</a> <a href="javascript:void(0);" class="bt-desassociar">Desassociar</a>
                <div class="box-tabela">
                    <div class="wrap table2">
                        <div class="inner">
                            <table class="tabela-2">
                                <thead>
                                    <tr class="even">
                                        <th class="table-title colun-1">
                                            <input value="" type="checkbox" />
                                        </th>
                                        <th class="table-title colun-2">
                                            <a href="javascript:void(0)" class="table-title-double-ord-up">Código do Projeto</a>
                                        </th>
                                        <th class="table-title colun-3">
                                            <a href="javascript:void(0)" class="table-title-double-ord-up">Nome do Projeto</a>
                                        </th>
                                        <th class="table-title colun-4">
                                            <a href="javascript:void(0)" class="table-title-ord-up">Responsável</a>
                                        </th>
                                        <th class="table-title colun-5">
                                            <a href="javascript:void(0)" class="table-title-ord-up">UF</a>
                                        </th>
                                        <th class="table-title colun-6">
                                            <a href="javascript:void(0)" class="table-title-ord-up">Cidade</a>
                                        </th>
                                        <th class="table-title colun-7">
                                            <a href="javascript:void(0)" class="table-title-ord-up">Status</a>
                                        </th>
                                        <th class="table-title colun-8">
                                            Polig.
                                        </th>
                                        <th class="table-title colun-9">
                                            <a href="javascript:void(0)" class="table-title-double-ord-up">Associado por</a>
                                        </th>
                                        <th class="table-title colun-10">
                                            <a href="javascript:void(0)" class="table-title-double-ord-up">Associado em</a>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="odd">
                                        <td class="colun-1">
                                            <input value="" type="checkbox" />
                                        </td>
                                        <td class="colun-2">
                                            2013070052
                                        </td>
                                        <td class="colun-3">
                                            Alpha II - Brasília
                                        </td>
                                        <td class="colun-4">
                                            Humberto Santana
                                        </td>
                                        <td class="colun-5">
                                            SP
                                        </td>
                                        <td class="colun-6">
                                            São José dos Campos
                                        </td>
                                        <td class="colun-7">
                                            Em andamento
                                        </td>
                                        <td class="colun-8">
                                            <a href="javascript:void(0)" class="ico-localizacao">Localização</a>
                                        </td>
                                        <td class="colun-9">
                                            <span class="ico-responsavel-inativo">Responsável</span><span class="nome-responsavel">Humberto
                                                Santana</span>
                                        </td>
                                        <td class="colun-10">
                                            0101/2013 10:40
                                        </td>
                                    </tr>
                                    <tr class="even">
                                        <td class="colun-1">
                                            <input value="" type="checkbox" />
                                        </td>
                                        <td class="colun-2">
                                            2013070052
                                        </td>
                                        <td class="colun-3">
                                            Alpha II - Brasília
                                        </td>
                                        <td class="colun-4">
                                            Humberto Santana
                                        </td>
                                        <td class="colun-5">
                                            SP
                                        </td>
                                        <td class="colun-6">
                                            São José dos Campos
                                        </td>
                                        <td class="colun-7">
                                            Em andamento
                                        </td>
                                        <td class="colun-8">
                                            <a href="javascript:void(0)" class="ico-localizacao">Localização</a>
                                        </td>
                                        <td class="colun-9">
                                            <span class="ico-responsavel-inativo">Responsável</span><span class="nome-responsavel">Humberto
                                                Santana</span>
                                        </td>
                                        <td class="colun-10">
                                            0101/2013 10:40
                                        </td>
                                    </tr>
                                    <tr class="odd">
                                        <td class="colun-1">
                                            <input value="" type="checkbox" />
                                        </td>
                                        <td class="colun-2">
                                            2013070052
                                        </td>
                                        <td class="colun-3">
                                            Alpha II - Brasília
                                        </td>
                                        <td class="colun-4">
                                            Humberto Santana
                                        </td>
                                        <td class="colun-5">
                                            SP
                                        </td>
                                        <td class="colun-6">
                                            São José dos Campos
                                        </td>
                                        <td class="colun-7">
                                            Em andamento
                                        </td>
                                        <td class="colun-8">
                                            <a href="javascript:void(0)" class="ico-localizacao">Localização</a>
                                        </td>
                                        <td class="colun-9">
                                            <span class="ico-responsavel-inativo">Responsável</span><span class="nome-responsavel">Humberto
                                                Santana</span>
                                        </td>
                                        <td class="colun-10">
                                            0101/2013 10:40
                                        </td>
                                    </tr>
                                    <tr class="even">
                                        <td class="colun-1">
                                            <input value="" type="checkbox" />
                                        </td>
                                        <td class="colun-2">
                                            2013070052
                                        </td>
                                        <td class="colun-3">
                                            Alpha II - Brasília
                                        </td>
                                        <td class="colun-4">
                                            Humberto Santana
                                        </td>
                                        <td class="colun-5">
                                            SP
                                        </td>
                                        <td class="colun-6">
                                            São José dos Campos
                                        </td>
                                        <td class="colun-7">
                                            Em andamento
                                        </td>
                                        <td class="colun-8">
                                            <a href="javascript:void(0)" class="ico-localizacao">Localização</a>
                                        </td>
                                        <td class="colun-9">
                                            <span class="ico-responsavel-inativo">Responsável</span><span class="nome-responsavel">Humberto
                                                Santana</span>
                                        </td>
                                        <td class="colun-10">
                                            0101/2013 10:40
                                        </td>
                                    </tr>
                                    <tr class="odd">
                                        <td class="colun-1">
                                            <input value="" type="checkbox" />
                                        </td>
                                        <td class="colun-2">
                                            2013070052
                                        </td>
                                        <td class="colun-3">
                                            Alpha II - Brasília
                                        </td>
                                        <td class="colun-4">
                                            Humberto Santana
                                        </td>
                                        <td class="colun-5">
                                            SP
                                        </td>
                                        <td class="colun-6">
                                            São José dos Campos
                                        </td>
                                        <td class="colun-7">
                                            Em andamento
                                        </td>
                                        <td class="colun-8">
                                            <a href="javascript:void(0)" class="ico-localizacao">Localização</a>
                                        </td>
                                        <td class="colun-9">
                                            <span class="ico-responsavel-inativo">Responsável</span><span class="nome-responsavel">Humberto
                                                Santana</span>
                                        </td>
                                        <td class="colun-10">
                                            0101/2013 10:40
                                        </td>
                                    </tr>
                                    <tr class="even">
                                        <td class="colun-1">
                                            <input value="" type="checkbox" />
                                        </td>
                                        <td class="colun-2">
                                            2013070052
                                        </td>
                                        <td class="colun-3">
                                            Alpha II - Brasília
                                        </td>
                                        <td class="colun-4">
                                            Humberto Santana
                                        </td>
                                        <td class="colun-5">
                                            SP
                                        </td>
                                        <td class="colun-6">
                                            São José dos Campos
                                        </td>
                                        <td class="colun-7">
                                            Em andamento
                                        </td>
                                        <td class="colun-8">
                                            <a href="javascript:void(0)" class="ico-localizacao">Localização</a>
                                        </td>
                                        <td class="colun-9">
                                            <span class="ico-responsavel-inativo">Responsável</span><span class="nome-responsavel">Humberto
                                                Santana</span>
                                        </td>
                                        <td class="colun-10">
                                            0101/2013 10:40
                                        </td>
                                    </tr>
                                    <tr class="odd">
                                        <td class="colun-1">
                                            <input value="" type="checkbox" />
                                        </td>
                                        <td class="colun-2">
                                            2013070052
                                        </td>
                                        <td class="colun-3">
                                            Alpha II - Brasília
                                        </td>
                                        <td class="colun-4">
                                            Humberto Santana
                                        </td>
                                        <td class="colun-5">
                                            SP
                                        </td>
                                        <td class="colun-6">
                                            São José dos Campos
                                        </td>
                                        <td class="colun-7">
                                            Em andamento
                                        </td>
                                        <td class="colun-8">
                                            <a href="javascript:void(0)" class="ico-localizacao">Localização</a>
                                        </td>
                                        <td class="colun-9">
                                            <span class="ico-responsavel-inativo">Responsável</span><span class="nome-responsavel">Humberto
                                                Santana</span>
                                        </td>
                                        <td class="colun-10">
                                            0101/2013 10:40
                                        </td>
                                    </tr>
                                    <tr class="even">
                                        <td class="colun-1">
                                            <input value="" type="checkbox" />
                                        </td>
                                        <td class="colun-2">
                                            2013070052
                                        </td>
                                        <td class="colun-3">
                                            Alpha II - Brasília
                                        </td>
                                        <td class="colun-4">
                                            Humberto Santana
                                        </td>
                                        <td class="colun-5">
                                            SP
                                        </td>
                                        <td class="colun-6">
                                            São José dos Campos
                                        </td>
                                        <td class="colun-7">
                                            Em andamento
                                        </td>
                                        <td class="colun-8">
                                            <a href="javascript:void(0)" class="ico-localizacao">Localização</a>
                                        </td>
                                        <td class="colun-9">
                                            <span class="ico-responsavel-inativo">Responsável</span><span class="nome-responsavel">Humberto
                                                Santana</span>
                                        </td>
                                        <td class="colun-10">
                                            0101/2013 10:40
                                        </td>
                                    </tr>
                                    <tr class="odd">
                                        <td class="colun-1">
                                            <input value="" type="checkbox" />
                                        </td>
                                        <td class="colun-2">
                                            2013070052
                                        </td>
                                        <td class="colun-3">
                                            Alpha II - Brasília
                                        </td>
                                        <td class="colun-4">
                                            Humberto Santana
                                        </td>
                                        <td class="colun-5">
                                            SP
                                        </td>
                                        <td class="colun-6">
                                            São José dos Campos
                                        </td>
                                        <td class="colun-7">
                                            Em andamento
                                        </td>
                                        <td class="colun-8">
                                            <a href="javascript:void(0)" class="ico-localizacao">Localização</a>
                                        </td>
                                        <td class="colun-9">
                                            <span class="ico-responsavel-inativo">Responsável</span><span class="nome-responsavel">Humberto
                                                Santana</span>
                                        </td>
                                        <td class="colun-10">
                                            0101/2013 10:40
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <a href="javascript:void(0)" class="bt-padrao bt-salvar">Salvar</a> <a href="javascript:void(0);" class="bt-voltar">Voltar</a>
            </div>
        </div>
    </div>
</div>
<div class="projetos-recebidos projetosRecebidos">
    <div class="forms">
        <div class="div-filtro">
            <h4>
                Filtros</h4>
            <div class="input-block">
                <input type="checkbox" class="checkbox" />
                <label>
                    Todas</label>
            </div>
            <div class="input-block">
                <input type="checkbox" class="checkbox" />
                <label>
                    Cidade Alvo</label>
            </div>
            <div class="input-block">
                <select class="uf">
                    <option>UF</option>
                </select>
            </div>
            <div class="input-block">
                <input class="cidade cidadeProjetosRecebidos" value="Cidade" type="text" />
            </div>
            <div class="input-block">
                <select class="status">
                    <option>Status</option>
                </select>
            </div>
            <a class="bt-padrao-filtro btnFiltroProjetosRecebidos" href="javascript:void(0)">Buscar</a>
            <div class="div-busca-filtro">
                <input type="text" watermark="Busca" class="watermark-font filtro-carrossel-nome filtroCarrousselProjetosRecebidos"
                    id="" value="" />
                <a class="btn-busca-filtro" id="" href="javascript:void(0)"></a>
            </div>
        </div>
    </div>
    <div class="contato-principal-tooltip contatoPrincipalToolTipProjetosRecebidos">
        <span class="seta"></span>
        <div class="box-contato">
            <div class="box-nota pessimo">
                <span class="nota">NOTA</span> <span class="valor-nota">0.9</span>
            </div>
            <div class="box-dados-contato">
                <div class="nome-dados-contato">
                    NOME: Renato Magalhães</div>
                <div>
                    <strong>EMPRESA:</strong> Nome da Empresa</div>
                <div>
                    <strong>E-MAIL:</strong> rmagalhaes@amb.com.br</div>
                <div>
                    <strong>FONE 1:</strong> (11) 95523-4291</div>
                <div>
                    <strong>FONE 2:</strong> (11) 95523-4291</div>
                <div>
                    <strong>CATEGORIA:</strong> Prefeitura</div>
            </div>
        </div>
    </div>
    <div class="box-tabela">
        <div class="wrap">
            <div class="inner">
                <table>
                    <thead>
                        <tr class="even">
                            <th class="table-title colun-1">
                                <a href="javascript:void(0)" class="table-title-double-ord-up">Código do Projeto</a>
                            </th>
                            <th class="table-title colun-2">
                                <a href="javascript:void(0)" class="table-title-double-ord-up">Nome do Projeto</a>
                            </th>
                            <th class="table-title colun-3">
                                Atribuir
                            </th>
                            <th class="table-title colun-4">
                                <a href="javascript:void(0)" class="table-title-ord-up">UF</a>
                            </th>
                            <th class="table-title colun-5">
                                <a href="javascript:void(0)" class="table-title-ord-up">Cidade</a>
                            </th>
                            <th class="table-title colun-6">
                                <a href="javascript:void(0)" class="table-title-double-ord-up">Cidade Alvo</a>
                            </th>
                            <th class="table-title colun-7">
                                <a href="javascript:void(0)" class="table-title-ord-up">Status</a>
                            </th>
                            <th class="table-title colun-8">
                                Polig.
                            </th>
                            <th class="table-title colun-9">
                                Contato Principal
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="odd">
                            <td class="colun-1">
                                <a href="javascript:void(0)">2013070052</a>
                            </td>
                            <td class="colun-2">
                                Alpha II - Brasília
                            </td>
                            <td class="colun-3">
                                <a href="javascript:void(0)" class="ico-atribuir-projeto atribuirProjeto">Atribuir projeto</a>
                            </td>
                            <td class="colun-4">
                                SP
                            </td>
                            <td class="colun-5">
                                São José dos Campos
                            </td>
                            <td class="colun-6">
                                Sim
                            </td>
                            <td class="colun-7">
                                Em andamento
                            </td>
                            <td class="colun-8">
                                <a href="javascript:void(0)" class="ico-localizacao">Localização</a>
                            </td>
                            <td class="colun-9">
                                <a href="javascript:void(0)" class="ico-contato-principal">Contato principal</a>
                            </td>
                        </tr>
                        <tr class="even">
                            <td class="colun-1">
                                <a href="javascript:void(0)">2013070052</a>
                            </td>
                            <td class="colun-2">
                                Alpha II - Brasília
                            </td>
                            <td class="colun-3">
                                <a href="javascript:void(0)" class="ico-atribuir-projeto atribuirProjeto">Atribuir projeto</a>
                            </td>
                            <td class="colun-4">
                                SP
                            </td>
                            <td class="colun-5">
                                São José dos Campos
                            </td>
                            <td class="colun-6">
                                Sim
                            </td>
                            <td class="colun-7">
                                Em andamento
                            </td>
                            <td class="colun-8">
                                <a href="javascript:void(0)" class="ico-localizacao">Localização</a>
                            </td>
                            <td class="colun-9">
                                <a href="javascript:void(0)" class="ico-contato-principal">Contato principal</a>
                            </td>
                        </tr>
                        <tr class="odd">
                            <td class="colun-1">
                                <a href="javascript:void(0)">2013070052</a>
                            </td>
                            <td class="colun-2">
                                Alpha II - Brasília
                            </td>
                            <td class="colun-3">
                                <a href="javascript:void(0)" class="ico-atribuir-projeto">Atribuir projeto</a>
                            </td>
                            <td class="colun-4">
                                SP
                            </td>
                            <td class="colun-5">
                                São José dos Campos
                            </td>
                            <td class="colun-6">
                                Sim
                            </td>
                            <td class="colun-7">
                                Em andamento
                            </td>
                            <td class="colun-8">
                                <a href="javascript:void(0)" class="ico-localizacao">Localização</a>
                            </td>
                            <td class="colun-9">
                                <a href="javascript:void(0)" class="ico-contato-principal">Contato principal</a>
                            </td>
                        </tr>
                        <tr class="even">
                            <td class="colun-1">
                                <a href="javascript:void(0)">2013070052</a>
                            </td>
                            <td class="colun-2">
                                Alpha II - Brasília
                            </td>
                            <td class="colun-3">
                                <a href="javascript:void(0)" class="ico-atribuir-projeto">Atribuir projeto</a>
                            </td>
                            <td class="colun-4">
                                SP
                            </td>
                            <td class="colun-5">
                                São José dos Campos
                            </td>
                            <td class="colun-6">
                                Sim
                            </td>
                            <td class="colun-7">
                                Em andamento
                            </td>
                            <td class="colun-8">
                                <a href="javascript:void(0)" class="ico-localizacao">Localização</a>
                            </td>
                            <td class="colun-9">
                                <a href="javascript:void(0)" class="ico-contato-principal">Contato principal</a>
                            </td>
                        </tr>
                        <tr class="odd">
                            <td class="colun-1">
                                <a href="javascript:void(0)">2013070052</a>
                            </td>
                            <td class="colun-2">
                                Alpha II - Brasília
                            </td>
                            <td class="colun-3">
                                <a href="javascript:void(0)" class="ico-atribuir-projeto">Atribuir projeto</a>
                            </td>
                            <td class="colun-4">
                                SP
                            </td>
                            <td class="colun-5">
                                São José dos Campos
                            </td>
                            <td class="colun-6">
                                Sim
                            </td>
                            <td class="colun-7">
                                Em andamento
                            </td>
                            <td class="colun-8">
                                <a href="javascript:void(0)" class="ico-localizacao">Localização</a>
                            </td>
                            <td class="colun-9">
                                <a href="javascript:void(0)" class="ico-contato-principal">Contato principal</a>
                            </td>
                        </tr>
                        <tr class="even">
                            <td class="colun-1">
                                <a href="javascript:void(0)">2013070052</a>
                            </td>
                            <td class="colun-2">
                                Alpha II - Brasília
                            </td>
                            <td class="colun-3">
                                <a href="javascript:void(0)" class="ico-atribuir-projeto">Atribuir projeto</a>
                            </td>
                            <td class="colun-4">
                                SP
                            </td>
                            <td class="colun-5">
                                São José dos Campos
                            </td>
                            <td class="colun-6">
                                Sim
                            </td>
                            <td class="colun-7">
                                Em andamento
                            </td>
                            <td class="colun-8">
                                <a href="javascript:void(0)" class="ico-localizacao">Localização</a>
                            </td>
                            <td class="colun-9">
                                <a href="javascript:void(0)" class="ico-contato-principal">Contato principal</a>
                            </td>
                        </tr>
                        <tr class="odd">
                            <td class="colun-1">
                                <a href="javascript:void(0)">2013070052</a>
                            </td>
                            <td class="colun-2">
                                Alpha II - Brasília
                            </td>
                            <td class="colun-3">
                                <a href="javascript:void(0)" class="ico-atribuir-projeto">Atribuir projeto</a>
                            </td>
                            <td class="colun-4">
                                SP
                            </td>
                            <td class="colun-5">
                                São José dos Campos
                            </td>
                            <td class="colun-6">
                                Sim
                            </td>
                            <td class="colun-7">
                                Em andamento
                            </td>
                            <td class="colun-8">
                                <a href="javascript:void(0)" class="ico-localizacao">Localização</a>
                            </td>
                            <td class="colun-9">
                                <a href="javascript:void(0)" class="ico-contato-principal">Contato principal</a>
                            </td>
                        </tr>
                        <tr class="even">
                            <td class="colun-1">
                                <a href="javascript:void(0)">2013070052</a>
                            </td>
                            <td class="colun-2">
                                Alpha II - Brasília
                            </td>
                            <td class="colun-3">
                                <a href="javascript:void(0)" class="ico-atribuir-projeto">Atribuir projeto</a>
                            </td>
                            <td class="colun-4">
                                SP
                            </td>
                            <td class="colun-5">
                                São José dos Campos
                            </td>
                            <td class="colun-6">
                                Sim
                            </td>
                            <td class="colun-7">
                                Em andamento
                            </td>
                            <td class="colun-8">
                                <a href="javascript:void(0)" class="ico-localizacao">Localização</a>
                            </td>
                            <td class="colun-9">
                                <a href="javascript:void(0)" class="ico-contato-principal">Contato principal</a>
                            </td>
                        </tr>
                        <tr class="odd">
                            <td class="colun-1">
                                <a href="javascript:void(0)">2013070052</a>
                            </td>
                            <td class="colun-2">
                                Alpha II - Brasília
                            </td>
                            <td class="colun-3">
                                <a href="javascript:void(0)" class="ico-atribuir-projeto">Atribuir projeto</a>
                            </td>
                            <td class="colun-4">
                                SP
                            </td>
                            <td class="colun-5">
                                São José dos Campos
                            </td>
                            <td class="colun-6">
                                Sim
                            </td>
                            <td class="colun-7">
                                Em andamento
                            </td>
                            <td class="colun-8">
                                <a href="javascript:void(0)" class="ico-localizacao">Localização</a>
                            </td>
                            <td class="colun-9">
                                <a href="javascript:void(0)" class="ico-contato-principal">Contato principal</a>
                            </td>
                        </tr>
                        <tr class="even">
                            <td class="colun-1">
                                <a href="javascript:void(0)">2013070052</a>
                            </td>
                            <td class="colun-2">
                                Alpha II - Brasília
                            </td>
                            <td class="colun-3">
                                <a href="javascript:void(0)" class="ico-atribuir-projeto">Atribuir projeto</a>
                            </td>
                            <td class="colun-4">
                                SP
                            </td>
                            <td class="colun-5">
                                São José dos Campos
                            </td>
                            <td class="colun-6">
                                Sim
                            </td>
                            <td class="colun-7">
                                Em andamento
                            </td>
                            <td class="colun-8">
                                <a href="javascript:void(0)" class="ico-localizacao">Localização</a>
                            </td>
                            <td class="colun-9">
                                <a href="javascript:void(0)" class="ico-contato-principal">Contato principal</a>
                            </td>
                        </tr>
                        <tr class="odd">
                            <td class="colun-1">
                                <a href="javascript:void(0)">2013070052</a>
                            </td>
                            <td class="colun-2">
                                Alpha II - Brasília
                            </td>
                            <td class="colun-3">
                                <a href="javascript:void(0)" class="ico-atribuir-projeto">Atribuir projeto</a>
                            </td>
                            <td class="colun-4">
                                SP
                            </td>
                            <td class="colun-5">
                                São José dos Campos
                            </td>
                            <td class="colun-6">
                                Sim
                            </td>
                            <td class="colun-7">
                                Em andamento
                            </td>
                            <td class="colun-8">
                                <a href="javascript:void(0)" class="ico-localizacao">Localização</a>
                            </td>
                            <td class="colun-9">
                                <a href="javascript:void(0)" class="ico-contato-principal">Contato principal</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Modal Associar Projeto Post-->
<div id="modalAssocProjetoPost" class="modal hide fade" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="seg-modal">
        <div class="modal-header">
            <a aria-hidden="true" data-dismiss="modal" class="close" href="javascript:void(0);">
                x</a>
            <h3 id="">
                Associar/Desassociar post aos projetos</h3>
            <div style="width: 100%; float: left; margin: 0 10px 10px 0;" class="forms">
                <div class="topo">
                </div>
                <h4>
                    Selecionar Projeto:</h4>
                <div class="box-tabela">
                    <div class="wrap table1">
                        <div class="inner">
                            <table class="tabela-1">
                                <thead>
                                    <tr class="even">
                                        <th class="table-title colun-1">
                                            <input value="" type="checkbox" />
                                        </th>
                                        <th class="table-title colun-2">
                                            <a href="javascript:void(0)" class="table-title-double-ord-up">Código do Projeto</a>
                                        </th>
                                        <th class="table-title colun-3">
                                            <a href="javascript:void(0)" class="table-title-double-ord-up">Nome do Projeto</a>
                                        </th>
                                        <th class="table-title colun-4">
                                            <a href="javascript:void(0)" class="table-title-ord-up">Responsável</a>
                                        </th>
                                        <th class="table-title colun-5">
                                            <a href="javascript:void(0)" class="table-title-ord-up">UF</a>
                                        </th>
                                        <th class="table-title colun-6">
                                            <a href="javascript:void(0)" class="table-title-double-ord-up">Cidade</a>
                                        </th>
                                        <th class="table-title colun-7">
                                            <a href="javascript:void(0)" class="table-title-ord-up">Status</a>
                                        </th>
                                        <th class="table-title colun-8">
                                            Polig.
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="odd">
                                        <td class="colun-1">
                                            <input value="" type="checkbox" />
                                        </td>
                                        <td class="colun-2">
                                            2013070052
                                        </td>
                                        <td class="colun-3">
                                            Alpha II - Brasília
                                        </td>
                                        <td class="colun-4">
                                            <span class="ico-responsavel-inativo">Responsável</span><span class="nome-responsavel">Humberto
                                                Santana</span>
                                        </td>
                                        <td class="colun-5">
                                            SP
                                        </td>
                                        <td class="colun-6">
                                            São José dos Campos
                                        </td>
                                        <td class="colun-7">
                                            Em andamento
                                        </td>
                                        <td class="colun-8">
                                            <a href="javascript:void(0)" class="ico-localizacao">Localização</a>
                                        </td>
                                    </tr>
                                    <tr class="even">
                                        <td class="colun-1">
                                            <input value="" type="checkbox" />
                                        </td>
                                        <td class="colun-2">
                                            2013070052
                                        </td>
                                        <td class="colun-3">
                                            Alpha II - Brasília
                                        </td>
                                        <td class="colun-4">
                                            <span class="ico-responsavel-inativo">Responsável</span><span class="nome-responsavel">Humberto
                                                Santana</span>
                                        </td>
                                        <td class="colun-5">
                                            SP
                                        </td>
                                        <td class="colun-6">
                                            São José dos Campos
                                        </td>
                                        <td class="colun-7">
                                            Em andamento
                                        </td>
                                        <td class="colun-8">
                                            <a href="javascript:void(0)" class="ico-localizacao">Localização</a>
                                        </td>
                                    </tr>
                                    <tr class="odd">
                                        <td class="colun-1">
                                            <input value="" type="checkbox" />
                                        </td>
                                        <td class="colun-2">
                                            2013070052
                                        </td>
                                        <td class="colun-3">
                                            Alpha II - Brasília
                                        </td>
                                        <td class="colun-4">
                                            <span class="ico-responsavel-inativo">Responsável</span><span class="nome-responsavel">Humberto
                                                Santana</span>
                                        </td>
                                        <td class="colun-5">
                                            SP
                                        </td>
                                        <td class="colun-6">
                                            São José dos Campos
                                        </td>
                                        <td class="colun-7">
                                            Em andamento
                                        </td>
                                        <td class="colun-8">
                                            <a href="javascript:void(0)" class="ico-localizacao">Localização</a>
                                        </td>
                                    </tr>
                                    <tr class="even">
                                        <td class="colun-1">
                                            <input value="" type="checkbox" />
                                        </td>
                                        <td class="colun-2">
                                            2013070052
                                        </td>
                                        <td class="colun-3">
                                            Alpha II - Brasília
                                        </td>
                                        <td class="colun-4">
                                            <span class="ico-responsavel-inativo">Responsável</span><span class="nome-responsavel">Humberto
                                                Santana</span>
                                        </td>
                                        <td class="colun-5">
                                            SP
                                        </td>
                                        <td class="colun-6">
                                            São José dos Campos
                                        </td>
                                        <td class="colun-7">
                                            Em andamento
                                        </td>
                                        <td class="colun-8">
                                            <a href="javascript:void(0)" class="ico-localizacao">Localização</a>
                                        </td>
                                    </tr>
                                    <tr class="odd">
                                        <td class="colun-1">
                                            <input value="" type="checkbox" />
                                        </td>
                                        <td class="colun-2">
                                            2013070052
                                        </td>
                                        <td class="colun-3">
                                            Alpha II - Brasília
                                        </td>
                                        <td class="colun-4">
                                            <span class="ico-responsavel-inativo">Responsável</span><span class="nome-responsavel">Humberto
                                                Santana</span>
                                        </td>
                                        <td class="colun-5">
                                            SP
                                        </td>
                                        <td class="colun-6">
                                            São José dos Campos
                                        </td>
                                        <td class="colun-7">
                                            Em andamento
                                        </td>
                                        <td class="colun-8">
                                            <a href="javascript:void(0)" class="ico-localizacao">Localização</a>
                                        </td>
                                    </tr>
                                    <tr class="even">
                                        <td class="colun-1">
                                            <input value="" type="checkbox" />
                                        </td>
                                        <td class="colun-2">
                                            2013070052
                                        </td>
                                        <td class="colun-3">
                                            Alpha II - Brasília
                                        </td>
                                        <td class="colun-4">
                                            <span class="ico-responsavel-inativo">Responsável</span><span class="nome-responsavel">Humberto
                                                Santana</span>
                                        </td>
                                        <td class="colun-5">
                                            SP
                                        </td>
                                        <td class="colun-6">
                                            São José dos Campos
                                        </td>
                                        <td class="colun-7">
                                            Em andamento
                                        </td>
                                        <td class="colun-8">
                                            <a href="javascript:void(0)" class="ico-localizacao">Localização</a>
                                        </td>
                                    </tr>
                                    <tr class="odd">
                                        <td class="colun-1">
                                            <input value="" type="checkbox" />
                                        </td>
                                        <td class="colun-2">
                                            2013070052
                                        </td>
                                        <td class="colun-3">
                                            Alpha II - Brasília
                                        </td>
                                        <td class="colun-4">
                                            <span class="ico-responsavel-inativo">Responsável</span><span class="nome-responsavel">Humberto
                                                Santana</span>
                                        </td>
                                        <td class="colun-5">
                                            SP
                                        </td>
                                        <td class="colun-6">
                                            São José dos Campos
                                        </td>
                                        <td class="colun-7">
                                            Em andamento
                                        </td>
                                        <td class="colun-8">
                                            <a href="javascript:void(0)" class="ico-localizacao">Localização</a>
                                        </td>
                                    </tr>
                                    <tr class="even">
                                        <td class="colun-1">
                                            <input value="" type="checkbox" />
                                        </td>
                                        <td class="colun-2">
                                            2013070052
                                        </td>
                                        <td class="colun-3">
                                            Alpha II - Brasília
                                        </td>
                                        <td class="colun-4">
                                            <span class="ico-responsavel-inativo">Responsável</span><span class="nome-responsavel">Humberto
                                                Santana</span>
                                        </td>
                                        <td class="colun-5">
                                            SP
                                        </td>
                                        <td class="colun-6">
                                            São José dos Campos
                                        </td>
                                        <td class="colun-7">
                                            Em andamento
                                        </td>
                                        <td class="colun-8">
                                            <a href="javascript:void(0)" class="ico-localizacao">Localização</a>
                                        </td>
                                    </tr>
                                    <tr class="odd">
                                        <td class="colun-1">
                                            <input value="" type="checkbox" />
                                        </td>
                                        <td class="colun-2">
                                            2013070052
                                        </td>
                                        <td class="colun-3">
                                            Alpha II - Brasília
                                        </td>
                                        <td class="colun-4">
                                            <span class="ico-responsavel-inativo">Responsável</span><span class="nome-responsavel">Humberto
                                                Santana</span>
                                        </td>
                                        <td class="colun-5">
                                            SP
                                        </td>
                                        <td class="colun-6">
                                            São José dos Campos
                                        </td>
                                        <td class="colun-7">
                                            Em andamento
                                        </td>
                                        <td class="colun-8">
                                            <a href="javascript:void(0)" class="ico-localizacao">Localização</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <a href="javascript:void(0)" class="bt-padrao bt-associar">Associar</a> <a href="javascript:void(0);" class="bt-desassociar">Desassociar</a>
                <div class="box-tabela">
                    <div class="wrap table2">
                        <div class="inner">
                            <table class="tabela-2">
                                <thead>
                                    <tr class="even">
                                        <th class="table-title colun-1">
                                            <input value="" type="checkbox" />
                                        </th>
                                        <th class="table-title colun-2">
                                            <a href="javascript:void(0)" class="table-title-double-ord-up">Código do Projeto</a>
                                        </th>
                                        <th class="table-title colun-3">
                                            <a href="javascript:void(0)" class="table-title-double-ord-up">Nome do Projeto</a>
                                        </th>
                                        <th class="table-title colun-4">
                                            <a href="javascript:void(0)" class="table-title-ord-up">Responsável</a>
                                        </th>
                                        <th class="table-title colun-5">
                                            <a href="javascript:void(0)" class="table-title-ord-up">UF</a>
                                        </th>
                                        <th class="table-title colun-6">
                                            <a href="javascript:void(0)" class="table-title-ord-up">Cidade</a>
                                        </th>
                                        <th class="table-title colun-7">
                                            <a href="javascript:void(0)" class="table-title-ord-up">Status</a>
                                        </th>
                                        <th class="table-title colun-8">
                                            Polig.
                                        </th>
                                        <th class="table-title colun-9">
                                            <a href="javascript:void(0)" class="table-title-double-ord-up">Associado por</a>
                                        </th>
                                        <th class="table-title colun-10">
                                            <a href="javascript:void(0)" class="table-title-double-ord-up">Associado em</a>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="odd">
                                        <td class="colun-1">
                                            <input value="" type="checkbox" />
                                        </td>
                                        <td class="colun-2">
                                            2013070052
                                        </td>
                                        <td class="colun-3">
                                            Alpha II - Brasília
                                        </td>
                                        <td class="colun-4">
                                            Humberto Santana
                                        </td>
                                        <td class="colun-5">
                                            SP
                                        </td>
                                        <td class="colun-6">
                                            São José dos Campos
                                        </td>
                                        <td class="colun-7">
                                            Em andamento
                                        </td>
                                        <td class="colun-8">
                                            <a href="javascript:void(0)" class="ico-localizacao">Localização</a>
                                        </td>
                                        <td class="colun-9">
                                            <span class="ico-responsavel-inativo">Responsável</span><span class="nome-responsavel">Humberto
                                                Santana</span>
                                        </td>
                                        <td class="colun-10">
                                            0101/2013 10:40
                                        </td>
                                    </tr>
                                    <tr class="even">
                                        <td class="colun-1">
                                            <input value="" type="checkbox" />
                                        </td>
                                        <td class="colun-2">
                                            2013070052
                                        </td>
                                        <td class="colun-3">
                                            Alpha II - Brasília
                                        </td>
                                        <td class="colun-4">
                                            Humberto Santana
                                        </td>
                                        <td class="colun-5">
                                            SP
                                        </td>
                                        <td class="colun-6">
                                            São José dos Campos
                                        </td>
                                        <td class="colun-7">
                                            Em andamento
                                        </td>
                                        <td class="colun-8">
                                            <a href="javascript:void(0)" class="ico-localizacao">Localização</a>
                                        </td>
                                        <td class="colun-9">
                                            <span class="ico-responsavel-inativo">Responsável</span><span class="nome-responsavel">Humberto
                                                Santana</span>
                                        </td>
                                        <td class="colun-10">
                                            0101/2013 10:40
                                        </td>
                                    </tr>
                                    <tr class="odd">
                                        <td class="colun-1">
                                            <input value="" type="checkbox" />
                                        </td>
                                        <td class="colun-2">
                                            2013070052
                                        </td>
                                        <td class="colun-3">
                                            Alpha II - Brasília
                                        </td>
                                        <td class="colun-4">
                                            Humberto Santana
                                        </td>
                                        <td class="colun-5">
                                            SP
                                        </td>
                                        <td class="colun-6">
                                            São José dos Campos
                                        </td>
                                        <td class="colun-7">
                                            Em andamento
                                        </td>
                                        <td class="colun-8">
                                            <a href="javascript:void(0)" class="ico-localizacao">Localização</a>
                                        </td>
                                        <td class="colun-9">
                                            <span class="ico-responsavel-inativo">Responsável</span><span class="nome-responsavel">Humberto
                                                Santana</span>
                                        </td>
                                        <td class="colun-10">
                                            0101/2013 10:40
                                        </td>
                                    </tr>
                                    <tr class="even">
                                        <td class="colun-1">
                                            <input value="" type="checkbox" />
                                        </td>
                                        <td class="colun-2">
                                            2013070052
                                        </td>
                                        <td class="colun-3">
                                            Alpha II - Brasília
                                        </td>
                                        <td class="colun-4">
                                            Humberto Santana
                                        </td>
                                        <td class="colun-5">
                                            SP
                                        </td>
                                        <td class="colun-6">
                                            São José dos Campos
                                        </td>
                                        <td class="colun-7">
                                            Em andamento
                                        </td>
                                        <td class="colun-8">
                                            <a href="javascript:void(0)" class="ico-localizacao">Localização</a>
                                        </td>
                                        <td class="colun-9">
                                            <span class="ico-responsavel-inativo">Responsável</span><span class="nome-responsavel">Humberto
                                                Santana</span>
                                        </td>
                                        <td class="colun-10">
                                            0101/2013 10:40
                                        </td>
                                    </tr>
                                    <tr class="odd">
                                        <td class="colun-1">
                                            <input value="" type="checkbox" />
                                        </td>
                                        <td class="colun-2">
                                            2013070052
                                        </td>
                                        <td class="colun-3">
                                            Alpha II - Brasília
                                        </td>
                                        <td class="colun-4">
                                            Humberto Santana
                                        </td>
                                        <td class="colun-5">
                                            SP
                                        </td>
                                        <td class="colun-6">
                                            São José dos Campos
                                        </td>
                                        <td class="colun-7">
                                            Em andamento
                                        </td>
                                        <td class="colun-8">
                                            <a href="javascript:void(0)" class="ico-localizacao">Localização</a>
                                        </td>
                                        <td class="colun-9">
                                            <span class="ico-responsavel-inativo">Responsável</span><span class="nome-responsavel">Humberto
                                                Santana</span>
                                        </td>
                                        <td class="colun-10">
                                            0101/2013 10:40
                                        </td>
                                    </tr>
                                    <tr class="even">
                                        <td class="colun-1">
                                            <input value="" type="checkbox" />
                                        </td>
                                        <td class="colun-2">
                                            2013070052
                                        </td>
                                        <td class="colun-3">
                                            Alpha II - Brasília
                                        </td>
                                        <td class="colun-4">
                                            Humberto Santana
                                        </td>
                                        <td class="colun-5">
                                            SP
                                        </td>
                                        <td class="colun-6">
                                            São José dos Campos
                                        </td>
                                        <td class="colun-7">
                                            Em andamento
                                        </td>
                                        <td class="colun-8">
                                            <a href="javascript:void(0)" class="ico-localizacao">Localização</a>
                                        </td>
                                        <td class="colun-9">
                                            <span class="ico-responsavel-inativo">Responsável</span><span class="nome-responsavel">Humberto
                                                Santana</span>
                                        </td>
                                        <td class="colun-10">
                                            0101/2013 10:40
                                        </td>
                                    </tr>
                                    <tr class="odd">
                                        <td class="colun-1">
                                            <input value="" type="checkbox" />
                                        </td>
                                        <td class="colun-2">
                                            2013070052
                                        </td>
                                        <td class="colun-3">
                                            Alpha II - Brasília
                                        </td>
                                        <td class="colun-4">
                                            Humberto Santana
                                        </td>
                                        <td class="colun-5">
                                            SP
                                        </td>
                                        <td class="colun-6">
                                            São José dos Campos
                                        </td>
                                        <td class="colun-7">
                                            Em andamento
                                        </td>
                                        <td class="colun-8">
                                            <a href="javascript:void(0)" class="ico-localizacao">Localização</a>
                                        </td>
                                        <td class="colun-9">
                                            <span class="ico-responsavel-inativo">Responsável</span><span class="nome-responsavel">Humberto
                                                Santana</span>
                                        </td>
                                        <td class="colun-10">
                                            0101/2013 10:40
                                        </td>
                                    </tr>
                                    <tr class="even">
                                        <td class="colun-1">
                                            <input value="" type="checkbox" />
                                        </td>
                                        <td class="colun-2">
                                            2013070052
                                        </td>
                                        <td class="colun-3">
                                            Alpha II - Brasília
                                        </td>
                                        <td class="colun-4">
                                            Humberto Santana
                                        </td>
                                        <td class="colun-5">
                                            SP
                                        </td>
                                        <td class="colun-6">
                                            São José dos Campos
                                        </td>
                                        <td class="colun-7">
                                            Em andamento
                                        </td>
                                        <td class="colun-8">
                                            <a href="javascript:void(0)" class="ico-localizacao">Localização</a>
                                        </td>
                                        <td class="colun-9">
                                            <span class="ico-responsavel-inativo">Responsável</span><span class="nome-responsavel">Humberto
                                                Santana</span>
                                        </td>
                                        <td class="colun-10">
                                            0101/2013 10:40
                                        </td>
                                    </tr>
                                    <tr class="odd">
                                        <td class="colun-1">
                                            <input value="" type="checkbox" />
                                        </td>
                                        <td class="colun-2">
                                            2013070052
                                        </td>
                                        <td class="colun-3">
                                            Alpha II - Brasília
                                        </td>
                                        <td class="colun-4">
                                            Humberto Santana
                                        </td>
                                        <td class="colun-5">
                                            SP
                                        </td>
                                        <td class="colun-6">
                                            São José dos Campos
                                        </td>
                                        <td class="colun-7">
                                            Em andamento
                                        </td>
                                        <td class="colun-8">
                                            <a href="javascript:void(0)" class="ico-localizacao">Localização</a>
                                        </td>
                                        <td class="colun-9">
                                            <span class="ico-responsavel-inativo">Responsável</span><span class="nome-responsavel">Humberto
                                                Santana</span>
                                        </td>
                                        <td class="colun-10">
                                            0101/2013 10:40
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <a href="javascript:void(0)" class="bt-padrao bt-salvar">Salvar</a> <a href="javascript:void(0);" class="bt-voltar">Voltar</a>
            </div>
        </div>
    </div>
</div>