@{
    ViewBag.Title = "AlphaBook - Administração";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/Admin/Produto/produto-pesquisa.js")"></script>
}

@section css {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Admin/status-protocolo.css")" />
}

<h2>Cadastro de Produtos</h2>

@if (Gafisa.AlphaBook.Componentes.Permissao.Permissao.UsuarioPossuiPermissao(ViewData, Secao.Administracao, Funcionalidade.Produto, Acao.Adicionar))
{
    <div class="div-acoes">
	    <a id="incluir" class="bt-adicionar" href="@Url.Action("EditarProduto", "Admin")">Adicionar Novo Produto</a>
    </div>
}
<div class="div-listar">
    <div class="box-tabela">
        <div class="wrap table2">
            <div class="inner">
                <table id="tabela">
                    <thead>
                        <tr>
                            <th class="table-title table-left col-1 table-title-ord-down">
                                <a href="javascript:void(0);" data-ordenacao="1" data-tipo="1">Nome do Produto</a>
                            </th>
                            <th class="table-title col-2">
                                Editar
                            </th>
                            <th class="table-title col-3">
                                Excluir
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>