@model IEnumerable<Gafisa.AlphaBook.Dominio.DTO.CompromissoDto>
<div id="tileAgenda" class="tile triple escuro">
    <div id="tarefas">
        @Html.Partial("Compromissos", Model)
    </div>
    <div class="brand">
        <span class="name">Agenda</span>
    </div>
</div>
