@model Gafisa.AlphaBook.Models.Home.PostagemModel

<div class="seg-modal" id="postagemCriacao">
    <div class="seg-modal-post">
        @Html.Partial("~/Views/Postagem/PostPadrao.cshtml", Model)
    </div>
</div>