@model Gafisa.AlphaBook.Models.Admin.StatusProjetoModel 

@{
    ViewBag.Title = "AlphaBook - Administração";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/Admin/StatusProjeto/status-projeto-pesquisa.js")"></script>
}

@section css {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Admin/status-projeto.css")" />
}

<h2>
    Manutenção de Status de Projeto</h2>

<div id="filtros">
    <div class="div-filtro">
        <h4>Filtros</h4>
        <div class="input-block">
            <label>Departamento</label>
            @Html.DropDownList("departamentoId", Model.Departamentos.ToSelectList(text => text.Nome, value => value.Id), "Todos", new { id = "departamentoId" })
        </div>
        <a id="buscar" class="bt-padrao-filtro" href="javascript:void(0)">Buscar</a>
        <div class="div-busca-filtro">
            <input type="text" watermark="Busca" class="watermark-font" id="termo" name="termo" value="" maxlength="255" />
        </div>
    </div>
</div>
@if (Gafisa.AlphaBook.Componentes.Permissao.Permissao.UsuarioPossuiPermissao(ViewData, Secao.Administracao, Funcionalidade.StatusProjeto, Acao.Adicionar))
{
    <div class="div-acoes">
	    <a id="incluir" class="bt-adicionar" href="@Url.Action("EditarStatusProjeto", "Admin")">Adicionar novo Status</a>
    </div>
}
<div class="div-listar">
    <div class="box-tabela">
        <div class="wrap table2">
            <div class="inner">
                <table id="tabela">
                    <thead>
                        <tr>
                            <th class="table-title table-left colun-1 table-title-ord-down">
                                <a href="javascript:void(0);" data-ordenacao="1" data-tipo="1">Id</a>
                            </th>
                            <th class="table-title table-left colun-2 table-title-ord-down">
                                <a href="javascript:void(0);" data-ordenacao="2" data-tipo="1">Inicial</a>
                            </th>
                            <th class="table-title table-left colun-3 table-title-ord-down">
                                <a href="javascript:void(0);" data-ordenacao="3" data-tipo="1">Status</a>
                            </th>
                            <th class="table-title table-left colun-4 table-title-ord-down">
                                <a href="javascript:void(0);" data-ordenacao="4" data-tipo="1">Departamento</a>
                            </th>
                            <th class="table-title table-left colun-5">
                                Cor
                            </th>
                            <th class="table-title table-left colun-6 table-title-ord-down">
                                <a href="javascript:void(0);" data-ordenacao="6" data-tipo="1">Final</a>
                            </th>
                            <th class="table-title table-left colun-7 table-title-ord-down">
                                <a href="javascript:void(0);" data-ordenacao="7" data-tipo="1">Lançado</a>
                            </th>
                            <th class="table-title table-left colun-8 table-title-ord-down">
                                <a href="javascript:void(0);" data-ordenacao="8" data-tipo="1">Visível</a>
                            </th>
                            <th class="table-title table-left colun-9 table-title-ord-down">
                                <a href="javascript:void(0);" data-ordenacao="9" data-tipo="1">C. Doc.</a>
                            </th>
                            <th class="table-title table-left colun-10 table-title-ord-down">
                                <a href="javascript:void(0);" data-ordenacao="10" data-tipo="1">Ordem</a>
                            </th>
                            <th class="table-title colun-11">
                                Editar
                            </th>
                            <th class="table-title colun-12">
                                Excluir
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
