<div id="modalMapaProjeto" class="modal message hide fade mapa" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="Mapa" aria-hidden="true">
    <div id="mapaProjeto" style="height: 500px; width: 100%;clear: both;">
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Fechar</button>
    </div>
    <a href="javascript:void(0);" id="verEstabelecimentosMapaProjeto" class="btn">- Pontos de Interesse</a>
    
    <div id="pontosinteresseProjeto">
    </div>
</div>
