@model long

<div class="modal-header">
    <a href="javascript:void(0);" class="close fechar">x</a>
    <h3 id="tituloEmail">Convidar para seguir</h3>
</div>
<div class="modal-body body-indicar-projeto">
    <div class="forms">
        <div class="sep-line-form">
            <div class="form-line destinatario">
                <label>* Destinatários:</label>
                <input type="text" id="destinatariosLinkProjeto" class="campoDestinatarios" name="Destinatarios" />
            </div>
        </div>
    </div>

</div>
<div class="modal-footer">
    <a href="javascript:void(0);" id="btnEnviarIndicacao" class="bt-padrao" data-id="@Model">ENVIAR</a>
</div>
