@model Gafisa.AlphaBook.Dominio.DTO.ContatoDto
@if ((Model != null))
{
    <span class="seta"></span>
    <div class="box-contato">
        <div class="box-nota pessimo">
            <span class="nota">NOTA</span>
            <span class="valor-nota">0.9</span>
        </div>

        <div class="box-dados-contato">
            <div class="nome-dados-contato">NOME: Renato Magalhães</div>
            <div><strong>EMPRESA:</strong> Nome da Empresa</div>
            <div><strong>E-MAIL:</strong> rmagalhaes@amb.com.br</div>
            <div><strong>FONE 1:</strong> (11) 95523-4291</div>
            <div><strong>FONE 2:</strong> (11) 95523-4291</div>
            <div><strong>CATEGORIA:</strong> Prefeitura</div>
        </div>
    </div>
}