<div class="container-fluid">
    <div class="container">
        <div class="modal-header">
            <div class="modalUsuarios">
                <div class="ico-usuarios">
                    <h1>Usuários</h1>
                    <div id="buscaSuperiorUsuarios" class="input-control text pull-right">
                        <input type="text" class="watermark-font" id="campoBuscaUsuario" />
                        <button id="botaoBuscaUsuarios" class="btn-search">
                        </button>
                    </div>
                </div>
                
                <a class="btn-azul btn-ad-usuario" id="adicionarUsuario">+ Adicionar usuário</a>
                
                <div id="usuarios" class="rolagem">
                    <table id="listaUsuario">
                    </table>
                </div>
                
                <div class="div-btn">
                    <a href="javascript:void(0)" data-dismiss="modal" class="btn-modal" id="fecharModalUsuarios">Fechar</a>
                </div>
            </div>
        </div>
    </div>
</div>
