@{
    Layout = null;
}
<h2 id="tituloDadosProjeto">Validação de etapas concluídas</h2>
<div class="aprovacao-etapa aprovacaoEtapa" style="height: 550px;">
    <div class="box-tabela">
        <div class="wrap">
            <div class="inner">
                <table id="tabelaAprovacaoEtapa">
                    <thead>
                        <tr>
                            <th class="table-title colun-1">Etapa</th>
                            <th class="table-title colun-2">Projeto</th>
                            <th class="table-title colun-3">Usuário</th>
                            <th class="table-title colun-4">Data conclusão</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
