#controleFaq {
    float: left;
    margin-bottom: 195px;
    width: 100%;
}


/* Titulo e Campo de Busca */

.title-faq {
    float: left;
    display: table;
    width: 45%;
}

.box-busca-faq {
    display: inline-block;
    float: right;
    margin-top: 23px;
}

.faq-busca {
    width: 249px !important;
}
/* END Titulo e Campo de Busca */


.box-perguntas-faq {
    float: left;
    width: 100%;
    display: block;
    background-color: #fff;
    overflow-y: auto;
    height: 300px;
}

.box-perguntas-faq ul {
    list-style-type: none;
    margin: 10px;
}

.box-perguntas-faq ul li.aberta {
    background: url("../img/icons/pergunta-aberta.png") 0 0 no-repeat;
    height: 24px;
    padding-left: 37px;
    width: 96%;
}

.box-perguntas-faq ul li.fechada {
    background: url("../img/icons/pergunta-fechada.png") 0 0 no-repeat;
    height: 24px;
    padding-left: 37px;
    width: 96%;
    margin-bottom: 10px;
}

.box-perguntas-faq ul li a {
    color: #006655;
    font-family: 'Trebuchet MS' !important;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}

.box-perguntas-faq div {
    margin: 0 0 20px 37px;
    color: #a1a1a1;
}
