.projetos-recebidos {
    position: relative;
}

.projetos-recebidos .div-filtro .uf {
    width: 56px;
}

.projetos-recebidos .div-filtro .cidade {
    margin-left: 10px;
    width: 100px;
}

.projetos-recebidos .div-filtro .status {
    margin-left: 10px;
    width: 100px;
}


.projetos-recebidos .box-tabela .wrap {
    height: 500px;
    width: 952px;
    padding: 63px 0 0;
}


.projetos-recebidos .box-tabela .wrap .inner {
    height: 500px;
}

/* THead */

.projetos-recebidos th.colun-1 {
    width: 97px;
}

.projetos-recebidos th.colun-2 {
    width: 108px;
}

.projetos-recebidos th.colun-3 {
    width: 80px;
}

.projetos-recebidos th.colun-4 {
    width: 30px;
}

.projetos-recebidos th.colun-5 {
    width: 107px;
}

.projetos-recebidos th.colun-6 {
    width: 61px;
}

.projetos-recebidos th.colun-7 {
    width: 90px;
}

.projetos-recebidos th.colun-8 {
    width: 50px;
}

.projetos-recebidos th.colun-9 {
    width: 73px;
}

.projetos-recebidos th.colun-10 {
    width: 69px;
}

.projetos-recebidos th.colun-11 {
    width: 63px;
}


/* TBody */

.projetos-recebidos td.colun-1 {
    width: 99px;
}

.projetos-recebidos td.colun-2 {
    width: 111px;
}

.projetos-recebidos td.colun-3 {
    width: 68px;
}

.projetos-recebidos td.colun-4 {
    width: 34px;
}

.projetos-recebidos td.colun-5 {
    width: 110px;
}

.projetos-recebidos td.colun-6 {
    width: 63px;
}

.projetos-recebidos td.colun-7 {
    width: 94px;
}

.projetos-recebidos td.colun-8 {
    width: 38px;
}

.projetos-recebidos td.colun-9 {
    width: 78px;
}

.projetos-recebidos td.colun-10 {
    width: 69px;
}

.projetos-recebidos td.colun-11 {
    width: 39px;
}



.contato-principal-tooltip {
    width: 300px;
    position: absolute;
    top: 57px;
    right: 105px;
    z-index: 1000;
}

    .contato-principal-tooltip span.seta {
        background: url("../img/seta-box-direita.png") no-repeat scroll 0 0 transparent;
        display: block;
        height: 21px;
        position: absolute;
        right: -11px;
        top: 42px;
        width: 10px;
        z-index: 1001;
    }

    .projetos-recebidos .box-dados-contato {
        width: 73%;
    }

        .projetos-recebidos .box-dados-contato div {
            line-height: 13px;
        }

            .projetos-recebidos .box-dados-contato div strong {
                font-size: 12px;
            }