.title-busca{float: left; display: table; width: 100%;}
.resultado-tiles{ width: 120%;}

/* Posts */
	.seg-content-posts-busca {
	    overflow-y: scroll;
	    height: 800px;
	    display: block;
	}
	
	.sep-posts-busca{
		width:100%;
		display:table;
		padding:15px 0;
		border-bottom:1px solid #c1c1c1;
	}
    .sep-posts-busca .box-post{
        display: inline-block;
    }
/* END Posts */
